
<div class="wrapper">
    <app-navbar />
  
    <div class="content-wrapper" style="min-height: 758px">
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Webcam</h1>
            </div>
            
          </div>
        </div>
      </div>
  
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 offset-sm-4">
              <webcam
              id="webcam"
              #webcam
              [height]="400"
              [videoOptions]="videoOptions"
            ></webcam>
            <canvas id="myCanvas" ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  